.App {
  min-height: 120vh;
  text-align: center;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
  /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  /* text-transform: uppercase; */
  font-family: Lato, sans-serif;
  background-color: lightgrey;
  display: grid;
  grid-auto-rows: 0fr;
  margin: -10px;
  /* margin-bottom: 10px; */
}
.auth {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: black 5px;
  border-style: solid;
  margin: 0 25%;
  margin-top: 75px;
}

.addArticle {
  color: black;
  text-decoration: none;
  background-color: white;
  border: 2px rgb(0, 0, 0);
  border-style: solid;
  padding: 7px 3px;
  margin: 5px auto;
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}
.addArticle:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background-color: red;
  /* padding: 14px 6px; */
  /* color: red;
  font-size: 2em;
  text-decoration: underline overline; */
}

.articleTitle {
  color: black;
  font-weight: bold;
  text-decoration: none;
  /* padding: 2px; */
  margin: 0 8px;
  margin-top: 10px;
  border-radius: 3px;
  text-transform: uppercase;

  /* text-decoration: underline; */
}
.articleTitle:hover {
  color: red;
}

.topGrid {
  display: grid;
}

.tcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0px;
  border: 2px white;
  border-style: solid;
  background-color: whitesmoke;
  min-height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0px;
  border: 2px white;
  border-style: solid;
  background-color: whitesmoke;
  min-height: 75px;
  margin: 10%;
}

.articleContainer {
  padding: 10px;
  border-radius: 5px;
  border-style: double;
  background-color: white;
  margin: 10px;
}

.topicGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.newArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.newArticleTopicSelect {
  font-size: 0.9em;
  letter-spacing: 0.3em;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}
.newArticleTitleInput {
  width: 85%;
  padding: 0.2em 1em;
  height: 1.5em;
  margin: 0.3em 0 0;
  font-family: Lato, sans-serif;
}

.newArticleBodyInput {
  /* outline-offset: -2px; */
  width: 85%;
  height: 10em;
  margin: 0.3em 0 0;
  font-family: Lato, sans-serif;
  padding: 0.2em 1em;
  resize: none;
  /* outline: none; */
  /* outline: -webkit-focus-ring-color auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto; */
  /* outline-width: 5px;
  border-color: rgb(169, 169, 169);
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;*/
  overflow-wrap: break-word;
}

@media only screen and (min-width: 420px) {
  .topicGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 850px) {
  .articleContainer {
    padding: 75px;
    border-radius: 5px;
    border-style: double;
    background-color: white;
    margin: 10px 50px;
  }

  .containerTitle {
    grid-column: 1 / span 2;
    /* text-align: left; */
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* border-radius: 5px;
    border-style: double;
    background-color: white; */
    margin: 10px;
  }
  .topicGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container2 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: auto;
    padding: 3px 7px;
    text-transform: uppercase;
  }
}

.subHeadings {
  /* font-weight: bold; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  text-decoration: underline overline red;
}

.container {
  /* border-radius: 5px;
  border-style: double;
  background-color: white; */
  margin: 10px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin: auto;
  padding: 3px 7px;
  text-transform: uppercase;
}

.page-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* grey colour = #333 */
/* gold colour = red */

.topNav {
  /* background-color: black; */
  background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/58/04/8457a1ecf6c0d0f.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.mainTitle {
  font-size: 3.5em;
  color: white;
  font-style: italic;
  text-shadow: 3px 4px rgb(9, 43, 63);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red; */
}
.redLetter {
  color: red;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  /* background: #e6e6e6; */
  background: #e6e6e6;
  /* width: 100%; */
  height: auto;
  border: black 3px solid;
  border-radius: 3px;
  /* font-weight: 500; */
  /* padding: 1px; */
  /* box-shadow: 5px 10px 20px -20px black; */
  margin: 10px;
  /* margin-right: 200px; */
}

.navLink {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.navLink:hover {
  color: red;
  font-size: 2em;
  text-decoration: underline overline;

  /* background-color: black;
  color: red; */
  /* border: 3px red;
  border-style: double; */
}

.navButtons {
  color: black;
  text-decoration: none;
  font-size: 1em;
  background-color: #e6e6e6;
  border-radius: 10px;
  border-style: solid;
  margin: 15px;
}

.navButtons:hover {
  color: white;
  /* font-size: 1.5em; */
  background-color: red;
  /* text-decoration: underline overline; */
}

.topic-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-radius: 5px; */
  border-style: solid;
  background-color: white;
  padding: 50px;
  margin: 10px;
}

.topicTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
  margin: 0 8px;
  border-radius: 3px;
  text-decoration: underline overline;
}
.topicTitle:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
  color: red;
  font-size: 2em;
  /* background-color: black;
  border: red solid 3px; */
}

.likeButton {
  background-color: #4caf50;
  border: none;
  color: white;
  /* padding: 10px 10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}
.likeButton:disabled {
  background-color: grey;
}
.likeButton:hover:enabled {
  background-color: #39853b;
}

.dislikeButton {
  background-color: #f44336;
  border: none;
  color: white;
  /* padding: 10px 21px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.dislikeButton:disabled {
  background-color: grey;
}

.dislikeButton:hover:enabled {
  background-color: #cc372c;
}

.deleteButton {
  background-color: darkgrey;
  border: none;
  color: white;
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  border-radius: 5px;
}
.deleteButton:disabled {
  background-color: grey;
}
.deleteButton:hover {
  background-color: grey;
}

.myFont {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

.footer {
  /* add grid format to this
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "footerLogo siteLinks ." ". . credentials";
  background-color: black;
  color: white;
}

.footerLogo {
  padding: 10%;
  grid-area: footerLogo;
  text-align: center;
}

.footerSiteLinks {
  grid-area: siteLinks;
  text-align: center;
}

.footerCredentials {
  grid-area: credentials;
  text-align: center;
}

.siteLink {
  text-decoration: none;
  color: white;
}
.siteLink:hover {
  color: red;
}
